/* --PC----стили для Dashboard\все 3 графика------ */
.graph-line {
  width: 672px;
  background-color: #0f0f0f;
  border-radius: 12px;
}
.caloriesTitle,
.weightTitle {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.graphTitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45;
}

.graphValue {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  margin-left: 40px;
}
.caloriesValue,
.waterValue,
.weightValue {
  color: #b6b6b6;
}

.weightTitle {
  margin-bottom: 6px;
}
.table-container {
  display: block;
  padding: 16px 33px 28px 13px;
}
.weight-graph-line {
  background-color: #0f0f0f;
  border-radius: 12px;
}
.upper-row,
.lower-row {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.table-cell.upper {
  font-size: 14px;
  line-height: 1.43;
  color: #ffffff;
}
.table-cell.lower {
  font-size: 10px;
  line-height: 1.4;
  color: #b6b6b6;
}

.table-cell {
  text-align: center;
  padding: 8px;
  flex: 1;
}
