/* -------------------------Стили для \Dashboard\SelectorContainer.jsx -----------------------*/
.monthsArrows {
  /* background-color: brown; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.IconArrowLeft {
  fill: #666;
  stroke: #000;
  stroke-width: 3;
}
.monthTitle {
  /* font-family: 'Poppins';
    font-style: normal; */
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.IconArrowUp {
  fill: #666;
  padding-top: 6px;
}

.IconArrowUp:hover,
.IconArrowLeft:hover {
  cursor: pointer;
  fill: #e3ffa8;
}

.selectedMonth {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-top: 15px;
}
.monthSelector {
  position: relative;
}
.dropdown {
  position: absolute;
  top: 100%; /* Разместить список под иконкой */
  left: -500px;
}

.monthOption {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #b6b6b6;
}
.monthOption:hover {
  color: #e3ffa8; /* Цвет текста при hover */
  cursor: pointer;
}
/* --------------------------------------------------------------------------------- */
