/* -------------------------Стили для \Dashboard\SelectorContainer.jsx -----------------------*/
@media screen and (min-width: 1440px) {
  .monthsArrows {
    gap: 12px;
  }
  /* .IconArrowLeft {
  fill: #666;
  stroke: #000;
  stroke-width: 3;
} */
  .monthTitle {
    font-size: 30px;
    line-height: 1.2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  /* .IconArrowUp {
  fill: #666;
  padding-top: 6px;
} */

  /* .IconArrowUp svg:hover,
.IconArrowLeft svg:hover {
  cursor: pointer;
  fill: #e3ffa8;
} */

  .selectedMonth {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-top: 15px;
  }
  /* .monthSelector {
  position: relative;
} */
  .dropdown {
    left: -1100px;
  }

  /* .monthOption {
  padding: 8px 0px 0px 16px;
  font-size: 14px;
  line-height: 1.43;
  color: #b6b6b6;
} */
  /* .monthOption:hover {
  color: #e3ffa8; 
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.12);
} */
  /* .monthOption:last-child{
  margin-bottom: 8px;
} */
}
/* --------------------------------------------------------------------------------- */
